.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.inputField{
    margin-right:10px ;
    width: 300px;
    height: 45px;
    border: 1px solid #DDD;
    font-size: 17px;
    border-radius: 5px;
}

.searchBtn{
    height: 45px;
    width: 100px;
    border: none;
    background-color: #25D366;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius: 5px;
}

